* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-section {
    background-color: #8E170F !important;
    box-shadow: 0 -5px 15px #F0E0D0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
}

.nav-brand {
    background-color: #F0E0D0 !important;
    color: #8E170F !important;
    font-weight: 900;
    border-radius: 10px;
    padding: 0.4% 1.2% !important;
}

.nav-items {
    color: #F0E0D0 !important;
    letter-spacing: 0.8px;
    margin-left: 5px;
}

.nav-button {
    background-color: #8E170F !important;
    border: 1.8px solid #F0E0D0 !important;
    color: #F0E0D0 !important;
}

.nav-button:hover {
    background-color: #F0E0D0 !important;
    border: 1.8px solid #8E170F !important;
    color: #8E170F !important;
}

.page-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.form-container {
    margin: 0;
    border: 3px solid #131516;
    height: 60vh;
    width: 40vw !important;
}

.register-btn {
    background-color: #B8336A !important;
    border: none !important;
}

.movie-section {
    min-height: 100vh;
    background-color: black;
    color: #FF99CC !important;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}


.movie-img {
    border-radius: 0 !important;
    padding: 0;
}

.movie-view-left {
    width: 50vh !important;
}

.movie-view-right {
    width: 30vh !important;
}

.gray-background {
    background-color: #C3C9D5 !important;
}

.blue-background {
    background-color: blue !important;
}

.white-background {
    background-color: white !important;
}

.lato-900 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.black-olive-bg {
  background-color: #2A2C24 !important;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
